.ui.secondary.vertical.inverted.settings.menu
  = link_to "General", edit_admin_company_path(current_company), class: "item #{'active' if @sub_nav_selected == :general}"
  = link_to "Billing", admin_billing_path, class: "item #{'active' if @sub_nav_selected == :billing}", data: { turbolinks: false }
  = link_to "Integrations", admin_integrations_path, class: "item #{'active' if @sub_nav_selected == :integrations}"
