// Place all the styles related to the changelog/changelog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.changelogentry-title {
  font-size: 1.55rem;
  font-weight: 500;
  line-height: 1.9rem;
  min-height: 35px;

  a {
    float: right;
  }
}

.changelogentry-time {
  color: rgba(71,82,93,.4);
  font-size: .9rem;
}
