body.admin.accounts {
  .account-info {
    padding: $half-base-size 0;

    .info-value {
      font-weight: 500;
      font-size: 15px;
    }

    .info-heading {
      padding-bottom: $half-base-size;
      border-bottom: 1px solid $lighter;
    }
  }
}
