body.admin.accounts {
  .account-info {
    padding: $half-base-size 0;

    .info-value {
      font-weight: 500;
      font-size: 15px;
    }
  }

  table#accounts-table {
    tr.selectable-row {
      cursor: pointer;
    }
  }
}
