body.admin {
  h1.heading {
    font-weight: 500;
    color: $darkest;
    border-bottom: 1px solid $lighter;
  }

  main.c-container {
    display: grid;
    grid-template-columns: [nav] 85px [main] auto [end];
    justify-items: start;
  }

  .c-content-container {
    display: inline-grid;
    grid-column: main / end;
    grid-template-columns: [list] 350px [main] auto [right] 300px [end];
    width: 100%;
  }

  .c-full-pane {
    grid-column: list / end;
    padding: $base-size;
    max-height: 100vh;
    height: 100vh;
    overflow: auto;
  }

  .c-left-pane {
    background: $white;
    grid-column: list / main;
    border-right: 1px solid $lighter;
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;

    &:hover {
      overflow: auto;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .c-main-pane {
    grid-column: main / right;
    padding: $base-size;
    overflow: auto;
    max-height: 100vh;
    height: 100vh;

    overflow: hidden;

    &:hover {
      overflow: auto;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .c-right-pane {
    grid-column: right / end;
    padding: $base-size $half-base-size;
  }

  .admin-post-list-item {
    padding: ($base-size * 1.5);
    border-bottom: 1px solid $lighter;
    display: block;

    &:hover {
      background: $lightest;
    }

    &.selected {
      background: $lightest; 
    }

    .post-title {
      font-size: 18px;
      line-height: 1.3;
      font-weight: 500;
      color: $black;
    }

    .post-summary {
      margin-top: $half-base-size;
    }

    .post-meta {
      margin-top: $base-size;
    }
  }
}
