body.admin.posts {
  .post-list-container {
    max-height: 94vh;
    overflow: hidden;

    &:hover {
      overflow: auto;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .list-action-bar {
    padding: 8px 16px;
    border-bottom: 1px solid $lighter;

    .container-one {
      display: flex;
      align-items: center;
      justify-content: space-between;

      #create-post-btn {
        cursor: pointer;
      }
    }

    .container-two {
      padding: $half-base-size 0;
      font-size: 12px;
    }
  }

  .top-action-bar {
    display: flex;
    border-bottom: 1px solid $lighter;
    margin-bottom: $base-size;
    padding-bottom: 8px;

    .item {
      padding-right: $base-size;

      i {
        color: $dark;
      }
    }

    .status-dropdown {
      background: none;
      border: none;
      min-width: 6 * $base-size;
      min-height: 2 * $base-size;
      box-shadow: none;
      padding: 0;

      .menu {
        border-top-width: 1px !important;
        border-color: $lighter;
        min-width: 8rem;

        & > .item {
          border-top: 2px solid $lightest;
          padding: $base-size !important;
        }

        & > .item:hover {
          background: $white;
          border-top: 2px solid $primary-blue;
        }
      }

      & > .default.text {
        color: $dark; 
        font-weight: bold;
      }

      & > .dropdown.icon {
        color: $dark;
        left: -4px;
      }
    }

    .item a {
      color: $dark; 
      font-weight: bold;
      cursor: pointer;
    }
  }

  .create-comment {
    #note-container,
    .item.note.active {
      background: $note-back;
      border-color: $note-border;
    }

    textarea.transparent {
      background: transparent;
      border: none;
      padding: 0;
    }
  }

  #vote-on-behalf-modal {
    & > .actions {
      text-align: left;
      line-height: 1.4;
      font-size: small;
    }
  }

  .activity-header {
    padding-top: 8px;
  }
}
