body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  @include font-smoothing(on);

  padding-top: $base-size;

}

/* Utility Classes */
.soft {
  color: $darker;
}

.custom.error.message {
  display: inline-block !important;
  color: $good-red;
  font-size: 12px;
  font-weight: 500;
}
