body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  @include font-smoothing(on);

  padding-top: $base-size;
  font-size: 14px;
  background-color: $lightest;
}

/* Utility Classes */
.soft {
  color: $darker;
}

.box {
  @extend .ui.segment;

  background-color: $white;
  border: 1px solid $lighter;
  box-shadow: none;
}

.custom.error.message {
  display: inline-block !important;
  color: $good-red;
  font-size: 12px;
  font-weight: 500;
}

.ui.custom.basic.label {
  color: $dark;
}

.vertical.padded {
  padding: $base-size 0;
}

.user {
  padding: $half-base-size 0;

  .details {
    display: inline-block;
    vertical-align: middle;
    margin-left: $base-size;

    .name {
      font-weight: 800;
    }
  }
}

.content {
  font-size: 15px;
  line-height: 1.5;
  padding: $half-base-size 0;
}

.float {
  &.left { float: left; }
  &.right { float: right; }
}

.avatar.circle.mini    { @include avatar(16px); }
.avatar.circle.small   { @include avatar(24px); }
.avatar.circle         { @include avatar(40px); }
.avatar.circle.large   { @include avatar(64px); }
.avatar.circle.huge    { @include avatar(128px); }

.ui.basic.label {
  background-color: $lightest;
  border-color: $lighter;
  color: $darkest;
  font-weight: 600;
}
