// @todo Rename to globals.css
// This file contains all the globals styles

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  @include font-smoothing(on);

  font-size: 14px;
  background-color: $lightest;
  color: $black;
}

// Start
// Utility Classes
.c-table--object,
.table--object {
  display: table;

  .c-table--item,
  .table--item {
    display: table-cell;
  }
}

.c-flex--object {
  display: flex;
}

.c-soft,
.soft {
  color: $darker;
}

.custom.error.message {
  display: inline-block !important;
  color: $good-red;
  font-size: 12px;
  font-weight: 500;
}

.vertical.padded {
  padding: $base-size 0;
}

.float {
  &.left { float: left; }
  &.right { float: right; }
}

.margined {
  & > .left {
    margin-left: 8px;

    & > .small {
      margin-left: 4px;
    }
  }
}

.c-breadcrumb {
  @extend .ui.breadcrumb;

  font-size: 12px;

  .section a {
    color: $dark;
  }

  .active.section {
    color: $darker;
  }
}

a.c.link {
  color: $darker;
  font-weight: 500;
  transition: 0.15s ease;

  &.underlined {
    text-decoration: underline;
  }

  &.light {
    color: $light;
  }

  &.thin {
    font-weight: normal;
  }

  &:hover {
    color: $darkest;
  }
}
// End
// Utility Classes

// Start
// Box Styling
.c-box,
.box {
  @extend .ui.segment;

  background-color: $white;
  border: 1px solid $lighter;
  box-shadow: none;

  .box-header { 
    @extend .c-soft;
    padding-bottom: $base-size;

    .header-text {
      padding-bottom: $half-base-size;
      border-bottom: 1px solid $lighter;
    }
  }
}
// End
// Box Styling

// Start
// Semantic UI Overrides
.ui.basic.label {
  background-color: $lightest;
  border-color: $lighter;
  color: $darkest;
  font-weight: 600;
}

.ui.custom.basic.label {
  color: $dark;
}

.ui.message {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 4px !important;
  font-weight: 500;
  border-radius: 5px;
  z-index: 1000;

  &.success,
  &.info, 
  &.warning {
    background-color: $black;
    color: $white;
    border: 1px solid $black;
    opacity: 0.75;
    box-shadow: none;
  }

  &.alert {
    background-color: $good-red;
    opacity: 0.75;
    color: $white;
    border: 1px solid darken($good-red, 1);
    box-shadow: none;
  }
}

.ui.basic.button {
  font-weight: 600;
  color: $dark;
}

.ui.google.button {
  background-color: $google;
  color: $white;

  &:hover {
    background-color: darken($google, 3)
  }
}

.primary.icon.button {
  color: $secondary-blue;
  transition: 0.2s ease;

  &:hover {
    color: darken($secondary-blue, 7) !important;
  }
}
// End
// Semantic UI Overrides

// Start
// User Styling
.user {
  padding: $half-base-size 0;

  .details {
    display: inline-block;
    vertical-align: middle;
    margin-left: $base-size;

    .name {
      font-size: 15px;
      font-weight: 600;
    }
  }
}
// End
// User Styling

// Start
// Styling for Post and Comment Content
.content {
  line-height: 1.5;
  padding: $half-base-size 0;
}
// End
// Styling for Post and Comment Content

// Start
// Placeholder Avatar Styling
.avatar.circle.mini    { @include avatar(16px); }
.avatar.circle.small   { @include avatar(32px); }
.avatar.circle         { @include avatar(40px); }
.avatar.circle.large   { @include avatar(64px); }
.avatar.circle.huge    { @include avatar(128px); }
// End
// Placeholder Avatar Styling

// Start
// Styling for Vote Button
a.vote-button {
  display: table-cell;
  margin-right: $base-size;
  color: $darkest;
  vertical-align: top;
  text-align: center;

  &.upvoted {
    color: $secondary-blue;
  }

  span.vote-count {
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    position: relative;
    top: 4px;
    right: 3px;
  }
}
// End
// Styling for Vote Button

// Start
// Styling for Post Item in Post List
.post-list-item {
  padding: 2 * $base-size 0;
  width: 100%;
  display: flex;

  a.post-link {
    color: $darkest;
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .post-body {
    display: flex;
    flex-direction: column;
    box-flex: 1;
    flex: 1;

    &:hover { color: $black; }

    .post-summary {
      padding-bottom: $base-size;
    }

    .comment-count {
      min-width: 30px;
    }

    .title-text h3 {
      font-size: 1.5 * $base-size;
      font-weight: 500;
      margin: 0;
    }
  }
}
// End
// Styling for Post Item in Post List

// Start
// Styling for Cadet Power
.cadet-power {
  font-size: 12px;
  text-align: center;

  span.text {
    vertical-align: text-bottom;
  }
}
// End
// Styling for Cadet Power

// Start
// Status Colors
.status {
  &.released {
    color: $green-light;
  }

  &.developing {
    color: $secondary-blue;
  }

  &.planned {
    color: $darkest;
  }

  &.closed {
    color: $good-red;
  }

  &.open {
    color: $dark;
  }
}
// End
// Status Colors

// Start
// Changelog Styling
#HW_badge_cont {
  display: inline-block !important;

  #HW_badge {
   top: 10px !important;
   right: 20px !important;
   display: inline-block !important;
   left: -4px !important;
  }
}
// End
// Changelog Styling
