body.boards {
  .boards-list {
    display: flex;
    flex-wrap: wrap;

    .board {
      width: 235px;
      min-height: 295px;
      margin: 0 20px 20px 0;
      padding: 24px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      border-top: 4px solid $lighter;

      a.board-name {
        color: $darkest;
        font-weight: 600;
        font-size: 18px;

        &:hover {
          text-decoration: underline;
        }
      }

      .board-description {
        margin-top: 8px;
      }
    }
  }
}

body.admin.boards {
}
