// Place all the styles related to the changelog/changelog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.changelog-entry__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  color: $darkest;
}

.changelog-entry__status {
  padding: 1px 6px;
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  display: inline-block;
  border-radius: 4px;
}

.changelog-entry__status.o__new {
  background-color: #3778ff;
  color: $white;
}

.changelog-entry__status.o__improvement {
  background-color: $purple;
  color: $white;
}

.changelog-entry__meta {
  width: 150px;
  text-align: right;
}

.changelog-entry__content {
  width: 600px;
}
