@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

@mixin top-padding($value) {
  padding-top: $value * $base-size;
}

@mixin bottom-padding($value) {
  padding-bottom: $value * $base-size;
}

@mixin avatar($size) {
  width: $size;
  height: $size;
  background-color: $yellow-light;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;

  .initials {
    position: relative;
    top: $size * 0.25;
    font-size: $size * 0.4;
    line-height: $size * 0.5;
    color: #fff;
    font-weight: bold;
    display: inline-block;
  }
}
