body.posts {
  span.link--mention {
    font-weight: bold;
  }

  .post-header {
    display: flex;
    align-items: center;

    .header {
      flex: 1;
    }

    h1.post-title {
      color: $darkest;
      font-weight: 600;
      font-size: 1.65 * $base-size;
      padding: 0;
      margin: 0 0 4px 0;
      vertical-align: top;
    }
  }

  .activity-header {
    @extend .c-soft;
    padding-top: $double-base-size;

    .text {
      border-bottom: 1px solid $lighter;
      padding-bottom: $half-base-size;
    }
  }
}
