body.posts {
  span.link--mention {
    font-weight: bold;
  }

  .post-header {
    display: flex;
    align-items: center;

    @media (min-width: 320px) and (max-width: 480px) {
      flex-direction: column-reverse;
      align-items: left;
    }

    .header {
      flex: 1;
    }

    .votes {
      margin-left: 4px;

      @media (min-width: 320px) and (max-width: 480px) {
        margin-left: 0;
        margin-bottom: 8px;
      }
    }

    h1.post-title {
      color: $darkest;
      font-weight: 600;
      font-size: 1.65 * $base-size;
      padding: 0;
      margin: 0 0 4px 0;
      vertical-align: top;
    }
  }

  .activity-header {
    @extend .c-soft;
    padding-top: $double-base-size;
    padding-bottom: 8px;

    .text {
      border-bottom: 1px solid $lighter;
      padding-bottom: $half-base-size;
    }
  }

  form.new_comment {
    padding: 4px 0;
  }

  .comment-editor .content.is-note {
    background: $note-back;
  }
}
