.public-header {
  background: $white;
  border-bottom: 2px solid $lighter;
  min-height: 60px;
  margin-bottom: $double-base-size;
  padding: $base-size 0;
  display: flex;
  align-items: center;

  .nav-items__wrapper{
    display: flex;
    justify-content: center;
    .nav-item {
      font-size: 14px;
      color: $darkest;
      margin: 0 8px;
      padding: 8px 0;
      border-bottom: 2px solid $white;
    }
  
    .nav-item.active {
      color: $darker;
      border-bottom-color: $secondary-blue;
    }
  }

  .company-name {
    font-weight: 600;
    font-size: 20px;
  }

  span.company-name a {
    color: $black-light;
    letter-spacing: 0.03em;
  }

  span.board-name {
    border-left: 1px solid $dark;
    margin: 0 4px 0 8px;
    padding-left: 8px;

    a {
      color: $dark;
    }

    @media (min-width: 320px) and (max-width: 480px) {
      border: none;
      padding: 0;
      margin: 0;
      display: block;
    }
  }

  .c-profile-menu {
    & > .menu {
      padding-bottom: $base-size;
      min-width: 200px;
      margin-top: 4px !important;
      font-weight: 500;

      .header {
        text-transform: none !important;

        .main-text {
          font-size: 14px;
          font-weight: 600;
        }

        .sub-text {
          @extend .c-soft;
          font-weight: normal;
          font-size: 13px;
        }
      }
    }
  }

  .login-signup-container {
    display: flex;
  }
}
