body.roadmap {

    .roadmap_container{
      display: flex;
      .roadmap-single-bucket {
          border-radius: 4px;
          width: 300px;
          min-height: 158px;
          max-height: 80vh;
          overflow-y: auto;
          margin: 0 20px 20px 0;
          padding: 8px;
          background: $lighter;

          display: flex;
          flex-direction: column;
          transition: 0.25s ease;

          .no_posts_container {
            height: 82px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $darker;
            font-size: 12px;
          }

          .roadmap-list-item-link {
            cursor: pointer;
            text-decoration: none;
          }

          .status-header-section {
            margin-bottom: 24px;
          }

          .roadmap_list_item{
            border: 1px solid $lighter;
            width: 284px;
            min-height: 60px;
            margin: 4px 0;
            padding: 8px;
            display: flex;
            flex-direction: column;
            padding: 12px;
            background: $white;
            border-radius: 6px;

            .title{
              color: $darkest;
              font-weight: 600;
              font-size: 14px;
            }
  
            .subtitle {
              color: $darker;
              font-size: 12px;
              margin-bottom: 4px;
            }
            .post_summary {
              margin-top: 8px;
              .label {
                font-size: 12px;
                margin-right: 8px;
                border-radius: 4px;
              }
            }
          }
      }
    }
  }