body.roadmap {

    .roadmap_container{
      display: flex;
      .roadmap-single-bucket {
          background: $white;
          border-radius: 4px;
          width: 324px;
          min-height: 300px;
          max-height: 80vh;
          overflow-y: auto;
          margin: 0 20px 20px 0;
          padding: 8px;
          background: $light;

          display: flex;
          flex-direction: column;
  
          border: 1px solid $light;
          transition: 0.25s ease;

          .roadmap-list-item-link {
            cursor: pointer;
            text-decoration: none;
          }

          .status-header-section {
            margin-bottom: 16px;
          }

          .roadmap_list_item{
            border: 1px solid $lighter;
            width: 300px;
            min-height: 60px;
            margin: 4px 0;
            padding: 8px;
            display: flex;
            flex-direction: column;
            padding: 12px;
            background: $white;
            border-radius: 6px;

            .title{
              color: $darkest;
              font-weight: 600;
              font-size: 16px;
            }
  
            .subtitle {
              color: $darker;
              font-weight: 600;
              font-size: 13px;
              margin-bottom: 4px;
            }
            .post_summary {
              margin-top: 8px;
              .label{
                margin-right: 8px;
              }
            }
          }
      }
    }
  }