body.users {
  .new-user-signup-container {
    h3.heading {
      font-weight: 600;
      margin-bottom: 4px;
    }
  }  
}


body.roadmap {

  .roadmap_container{
    display: flex;
    .roadmap-single-bucket {
        background: $white;
        border-radius: 4px;
        width: 335px;
        min-height: 395px;
        margin: 0 20px 20px 0;
        
        display: flex;
        flex-direction: column;

        border-top: 4px solid $lighter;
        transition: 0.25s ease;

        .status-header-section {
            .status-title {
                padding: 22px 8px 22px 16px;
                color: $darkest;
                font-weight: 600;
                font-size: 22px;
            }

        }
        .roadmap_list_item{
          border: 1px solid $lighter;
          width: 300px;
          min-height: 60px;
          margin: 8px 16px;
          padding: 8px;
          display: flex;
          flex-direction: column;

          .title{
            padding: 6px;
            color: $darkest;
            font-weight: 600;
            font-size: 18px;
          }

          .subtitle {
            padding-left: 6px;
            color: $darker;
            font-weight: 600;
            font-size: 14px;
            margin-bottom: 4px;
          }
        }
    }
  }
}