.u__pl__4 {
  padding-left: 4px;
}
.u__pr__4 {
  padding-right: 4px;
}
.u__pt__4 {
  padding-top: 4px;
}
.u__pb__4 {
  padding-bottom: 4px;
}
.u__p__4 {
  @extend .u__pl__4;
  @extend .u__pr__4;
  @extend .u__pt__4;
  @extend .u__pb__4;
}

.u__ml__4 {
  margin-left: 4px;
}
.u__mr__4 {
  margin-right: 4px;
}
.u__mt__4 {
  margin-top: 4px;
}
.u__mb__4 {
  margin-bottom: 4px;
}
.u__m__4 {
  @extend .u__ml__4;
  @extend .u__mr__4;
  @extend .u__mt__4;
  @extend .u__mb__4;
}

.u__pl__8 {
  padding-left: 8px;
}
.u__pr__8 {
  padding-right: 8px;
}
.u__pt__8 {
  padding-top: 8px;
}
.u__pb__8 {
  padding-bottom: 8px;
}
.u__p__8 {
  @extend .u__pl__8;
  @extend .u__pr__8;
  @extend .u__pt__8;
  @extend .u__pb__8;
}

.u__ml__8 {
  margin-left: 8px;
}
.u__mr__8 {
  margin-right: 8px;
}
.u__mt__8 {
  margin-top: 8px;
}
.u__mb__8 {
  margin-bottom: 8px;
}
.u__m__8 {
  @extend .u__ml__8;
  @extend .u__mr__8;
  @extend .u__mt__8;
  @extend .u__mb__8;
}

// DEPRECATED
.padded {
  &.full {
    padding: $base-size;
  }

  &.bottom {
    padding-bottom: $base-size;
  }

  &.top {
    padding-top: $base-size;
  }

  &.vertical {
    padding: $base-size 0;
  }
}

.float {
  &.left { float: left; }
  &.right { float: right; }
}

.margined {
  &.left {
    margin-left: 8px;

    &.small {
      margin-left: 4px;
    }
  }
}
