$base-size: 16px;

$x0: 0;
$x1: 4px;
$x2: 8px;
$x3: 12px;
$x4: 16px;
$x6: 24px;
$x8: 32px;
$x10: 40px;
$x12: 48px;
$x16: 64px;

$tokenMap: (
  x0: $x0,
  x1: $x1,
  x2: $x2,
  x3: $x3,
  x4: $x4,
  x6: $x6,
  x8: $x8,
  x10: $x10,
  x16: $x16,
);

$half-base-size: $base-size * 0.5;
$double-base-size: $base-size * 2;

/*
Application Colors
*/
$white: #FFF;
$black: #000103;
$black-light: #292a2c;
$darkest: #353637;
$darker: #7f7f7f;
$dark: #a0a0a0;
$light: #d6d6d6;
$lighter: #e2e2e2;
$lightest: #f8f8f8;
$white-four: #fafafa;

$other-blue: #36bae6;
$secondary-blue: #4a90e2;
$primary-blue-light: #72dcff;
$primary-blue: #42cffe;
$blue-light: #dff7ff;
$blue-lightest: #effdff;

$yellow-lightest: #fff9ea;
$yellow-lighter: #ffe681;

$light-grey: #eae3d9;

$yellow-light: #ffdd76;
$yellow-dark: #fec939;

$green-light: #5fba7d;
$green: #64BB55;
$purple: #BB6CDC;
$good-red: #c33c54;

$note-back: $yellow-lightest;
$note-border: #EADBC8;

$planned-color: #7963BF;
$released-color: #58bf33;

$google: #4285F4;

$vote-btn-blue: #f1f8fb;
$vote-btn-blue-dark: #bbcadc;
$vote-btn-blue-darker: #2b6dad;
