$base-size: 16px;

$half-base-size: $base-size * 0.5;
$double-base-size: $base-size * 2;

/*
Application Colors
*/
$white: #FFF;
$black: #000103;
$black-light: #292a2c;
$darkest: #353637;
$darker: #7f7f7f;
$dark: #a0a0a0;
$light: #d6d6d6;
$lighter: #e2e2e2;
$lightest: #f8f8f8;
$white-four: #fafafa;

$other-blue: #36bae6;
$secondary-blue: #4a90e2;
$primary-blue-light: #72dcff;
$primary-blue: #42cffe;
$blue-light: #dff7ff;
$blue-lightest: #effdff;

$yellow-lightest: #fff9ea;
$yellow-lighter: #ffe681;

$light-grey: #eae3d9;

$yellow-light: #ffdd76;
$yellow-dark: #fec939;

$green-light: #5fba7d;
$green: #64BB55;
$purple: #BB6CDC;
$good-red: #c33c54;

$note-back: $yellow-lightest;
$note-border: #EADBC8;

$planned-color: #7963BF;
$released-color: #58bf33;

$google: #4285F4;

$vote-btn-blue: #f1f8fb;
$vote-btn-blue-dark: #bbcadc;
$vote-btn-blue-darker: #2b6dad;
