$base-size: 1rem;

$half-base-size: $base-size * 0.5;
$double-base-size: $base-size * 2;

/*
Application Colors
*/
$white: #FFF;
$black: #000103;
$darkest: #353637;
$darker: #7f7f7f;
$dark: #a0a0a0;
$light: #d6d6d6;
$lighter: #e2e2e2;
$lightest: #f8f8f8;
$white-four: #fafafa;
$other-blue: #36bae6;
$secondary-blue: #4a90e2;
$primary-blue-light: #72dcff;
$primary-blue: #42cffe;
$blue-lightest: #effdff;
$yellow-lighter: #ffe681;
$good-red: #c33c54;
$yellow-lightest: #fff9ea;
$light-grey: #eae3d9;
$yellow-light: #ffdd76;
$yellow-dark: #fec939;
$green-light: #5fba7d;
$green: #64BB55;
$purple: #BB6CDC;

$planned-color: #7963BF;
$released-color: #5fba7d;

$google: #4285F4;
$quora-blue: #2b6dad; 
