| Hello #{@resource.first_name},
= "\n\n"
| We would like to invite you to Cadet - a tool we use to gather product feedback and feature requests. At #{@company.name}, we'd like to be transparent with our customers and this is a step in that direction.
= "\n\n"
| Accept Invite: #{accept_user_invite_url(@resource, invitation_token: @token, host: @host)}
= "\n\n"
| Thank you for helping us make #{@company.name} awesome!
= "\n\n"
= @invited_by.name
= "\n"
= @company.name

